---
import CartButton from "./CartButton";
import MaxWidthWrapper from "./MaxWidthWrapper";

import CountryButton from "./CountryButton"
import { Button } from "./ui/button";
---

<nav class="sticky h-14 inset-x-0 top-0 z-30 w-full bg-white border-b">
	<MaxWidthWrapper>
		<div class="font-semibold flex h-14 items-center justify-between border-b">
			<div class="items-center space-x-4 flex">
				<Button
					variant="ghost"
					className="text-2xl font-light mr-4"
				>
					Boarders
				</Button>
				<Button variant="link">Boards</Button>
				<Button variant="link">Accessories</Button>
				<Button variant="link">Cards</Button>
			</div>
			<div class="items-center space-x-4 flex">
				<Button variant="link">Sign in</Button>
				<Button variant="link">Create account</Button>
				<CountryButton />
				<CartButton client:load/>
			</div>
		</div>
	</MaxWidthWrapper>
</nav>
